*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: all ease 0.95s;
}
body{
    margin: 0 60px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: black;
}
.triline{
    display: none;
}
.grid{
    margin-top: 60px 0px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,305px);
    row-gap: 46px;
   align-items: center;
   justify-content: center;
    
}
.carta{
    width: 276px;
    height: 330px;
    background-color: #505050;
    border-radius: 8px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.info{
    width: 256px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
}
.info h3{
    margin-right: 6px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 12px;
}
.texto{
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
}

@media screen and (max-width:600px){

    header ul{
        display: none;
      }

      .buy_car{
        display: none;
      }
    
      .triline{ display: block;  }

      body{
        margin: 0 25px;
      }

      .grid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;

      }
      
     




}